@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*     font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Yellowtail', cursive;

    font-family: 'Spartan', sans-serif;
    font-family: 'Roboto', sans-serif;
     */



@font-face {
    font-family: Soul Regular;
    src: url(fonts/MADE\ Soulmaze\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: Soul Italics;
    src: url(fonts/MADE\ Soulmaze\ Italic\ PERSONAL\ USE.otf);
}
@font-face {
    font-family: Soul Outline Regular;
    src: url(fonts/MADE\ Soulmaze\ Outline\ PERSONAL\ USE.otf);
}
@font-face {
    font-family: Soul Outline Italics;
    src: url(fonts/MADE\ Soulmaze\ Outline\ Italic\ PERSONAL\ USE.otf);
}
@font-face {
    font-family: Moon Regular;
    src: url(fonts/Moon2.0-Regular.otf);
}
@font-face {
    font-family: Current;
    src: url(fonts/Current-Regular.otf);
}
@font-face {
    font-family: Ailerons;
    src: url(fonts/Ailerons-Regular.otf);
}
@font-face {
    font-family: Bioweapon;
    src: url(fonts/BIOWEAPON.ttf);
}
@font-face {
    font-family: GKType;
    src: url(fonts/Gktype01-10Glyphs.otf);
}
@font-face {
    font-family: Kind of Magic;
    src: url(fonts/KindofMagic-KindofMagicRegular-SVG.ttf);
}
@font-face {
    font-family: Magilio;
    src: url(fonts/MagilioRegular-8Mxvg.otf);
}
@font-face {
    font-family: Odichi;
    src: url(fonts/Odachi.otf);
}
@font-face {
    font-family: Monument;
    src: url(fonts/MonumentExtended-Black.otf);
}
@font-face {
    font-family: Yokai;
    src: url(fonts/Yokai.otf);
}
@font-face {
    font-family: Brandon;
    src: url(fonts/brandon-grotesque-black-58a8a3e824392.otf);
}
@font-face {
    font-family: Yokai;
    src: url(fonts/Yokai.otf);
}
@font-face {
    font-family: Yokai;
    src: url(fonts/Yokai.otf);
}
@font-face {
    font-family: Mikado Regular;
    src: url(fonts/HVD\ Fonts\ -\ MikadoRegular.otf);
}
@font-face {
    font-family: Mikado Boldy;
    src: url(fonts/HVD\ Fonts\ -\ MikadoBold.otf);
}
@font-face {
    font-family: Mikado Ultra;
    src: url(fonts/HVD\ Fonts\ -\ MikadoUltra.otf);
}
@font-face {
    font-family: Mikado Blacky;
    src: url(fonts/HVD\ Fonts\ -\ MikadoBlack.otf);
}
@font-face {
    font-family: Milligram;
    src: url(fonts/Milligram-Bold-trial.ttf);
}
@font-face {
    font-family: GKType;
    src: url(fonts/Gktype01-10Glyphs.otf);
}
@font-face {
    font-family: Airone;
    src: url(fonts/AironeFont-Demo.otf);
}
@font-face {
    font-family: Recia;
    src: url(fonts/ReciaDisplay-Bold.ttf);
}
@font-face {
    font-family: Maghfirea;
    src: url(fonts/Maghfirea-VGgl6.ttf);
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    overscroll-behavior-y: none;
}

html
{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

header
{

    
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.container
{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/******************** Hamburger Menu ***********************/

.hamburger
{
    position: relative; 
    left: auto;
    float: right;
    top: 45%;
    height: 50px;
    width: 40px;
    right: 4px;
    display: none;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
    margin-right: -10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
}



.bar
{
    height: 2px;
    left: 10px;
    position:absolute;   
    top: 10px;
    width: calc(100% - 20px);
    background: #D9D9D9;
    display: block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.bar.open:nth-child(1)
{
  transform: rotate(45deg);
}
.bar:nth-child(2)
{
  top: 18px;
}


/******************* Pages Snap To Start ******************/

section
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  
}
.data-scroll-container
{
  scroll-snap-type: y mandatory;
  
  height: 100vh;
}

/******************* Hamburger Menu *********************/



.nav
{
    display:inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: 7.2rem;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255,255,255,.05);
    transition: height .5s ease;
}

.nav a
{
    
    text-decoration: none;
    color: #D96C80;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;

    
}

.nav .logo
{
    
    font-size: 2rem;
    color: #D9D9D9;
    text-transform: lowercase;
    padding-top: 5.5px;
    font-family: Milligram ;
    letter-spacing: -0.5px;
    font-weight: 800;    
    
}

ul li
{
    list-style-type: none;
    display: inline-block;
   
    
}

.main-image
{
    position: absolute;
    left: 50%;
    margin-left: -13px;
    top: 50%;
    margin-top: -13px;
    width: 32px;
    height: 25px;
    
}
.main-image2
{
    position: absolute;
    left: 50%;
    margin-left: -13px;
    top: 5%;
    margin-top: -13px;
    width: 32px;
    height: 25px;
    
}

.nav-item a {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #D96C80 50%,
      #D9D9D9 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  

  
  .nav-item  a:hover {
   background-position: 0;
  }
  
  .nav-item  a:hover::before{
    width: 100%;
  }
  
  







/******************** Nav Reform ******************/

.nav-list p
{
    font-family: Milligram;
    font-size: 10rem;
    text-transform: lowercase;
    
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
	color: transparent;
    -moz-background-clip: text;
	-webkit-background-clip: text;
}

.nav-list.active {
    
    left: 0;
}

.nav-item {
    
    margin: 1rem ;
}
.nav-link.active
{

    color: white;
}


/*Apply styles after scroll*/
.scrolling-active{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .line
{
    stroke: black;
}

.scrolling-active .nav{
    height: 5.2rem;
    border-bottom: none;
}
.scrolling-active .nav .logo{
    color: #D9D9D9;
}

.scrolling-active .nav a{
    color: #D96C80;
}
.scrolling-active .nav .logo{
    padding-bottom: 5px;
}


.scrolling-active .nav-link::after{
    background-color: #4a5764;
}
.scrolling-active .bar
{
    background-color: #D9D9D9;
}
.scrolling-active .hamburger
{
    top: 55%;
}
/*Apply styles after scroll end*/


/* Hero Demo Content*/
.hero
{
    width: 100%;
    height: 100vh;
    background: url("images/chalo-gallardo-kW-yPqdm8Fs-unsplash.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.hero .latestrelease
{
    z-index: 2;
}
.hero .latestrelease h1
{
    font-size: 5rem;
    font-family: Soul Italics;
    color: rgba(255, 255, 255, 0.7);
    
}
.hero .latestrelease p
{
    font-size: 2rem;
    font-family: Recia;
    color: rgba(255,255,255,.5);
    text-align: center;
    
}
.hero .latestrelease button
{
    position: absolute;
    margin:0;
    top: 70%;
    left: 50%;
    border: 1px solid black;
    padding: 14px 28px;
    color: white;
    background-color: black;
    font-size: 1.5rem;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Brandon;
    cursor: pointer;
    z-index: 2;
    
}





.trade
{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Soul Outline Italics;
    font-size: 7.3rem;
    font-weight: bold;
}

.hero::after
{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}
.listennow
{
    display: block;
    position: relative;
    top: 20%;
    right: 17%;
}

.listennow .spotify
{
    
    width: 30px;
    height: 30px;

}

.listennow .apple
{
    
    width: 30px;
    height: 30px;

}

.demo-content
{
    padding: 75px;
    width: 100%;
    height: 100vh;
    background-color: #050a05;
    font-family: 'Odichi';
    display: block;
    color: rgb(190, 190, 190);
    
}
.demo-content .heading{
    text-align: center;
    position: relative;
    height: 10px;
    width: 100%;
    padding-top: 100px;
    
    top: -10%;
}
.heading h1{
    
}
.demo-content p
{
    
    
    
}
.demo-content .imagewrap
{
    background-size: cover;
    width: 300px;
    height: 200px;   

}
.circle
{
    width: 200px;
    height: 200px;
}
.abouttext
{
    color: #A6A6A6;
    text-transform: uppercase;
    position: relative;
    top: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    letter-spacing: 0mm;
}
.thirdpage
{
    background: url("images/blackmore.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    font-family: Soul Italics;
    font-size: 8rem;
    color: rgb(190, 190, 190);
    font-weight: bolder;
}
.mobile-social
{
    display: none;
    height: 60px;
    background-color: black;
    justify-content: center;
    
}
.mobilesocial img
{
    display: inline-block;
    height: 25px;
    

}
/* Hero end*/
.footer-content
{
    display: block;
    height: 60px;
    background-color: black;
    position: relative;
}


.footertext
{
    
    font-family: 'Montserrat', sans-serif;
    top:500%;
    padding-top: 24px;
    padding-left: 24px;
    letter-spacing: 1px;
    float: left;
    text-transform: uppercase;
    font-size: 1rem;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
	color: transparent;
    -moz-background-clip: text;
	-webkit-background-clip: text;
    font-weight: 500;
    

}

.socialbox
{   
    float: right;    
    
    padding-top: 17px;
    
    top: 30px;
    background-color: #000;
}

.socialtext img
{
    padding-right: 17px;
    float: right;
    height: 25px;
}

/**************** Scroll Indicator **********************/
.progress-section
{
  position: fixed;
  right: 50px;
  top: 40%;
  width: 6px;
  height: 20%;
  display: flex;
  justify-content: space-between;
  will-change: transform;
  transition: 0.3s ease-out;
}

.progress-bar-wrap
{
  position: relative;
  width: 2px;
  overflow: hidden;
  background-color: rgb(189, 189, 189);

}

.progress-bar
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(70, 70, 70);
}


::-webkit-scrollbar
{
  display: none;
}


/********************* Page Indicator ********************/
/***************************
.pageIndicator {
    height:135px;
    left:calc(50% + 600px);
    position:fixed;
    top:50%;
    width:2px;
    -webkit-transform:translate3d(-50%,-50%,0);
    -moz-transform:translate3d(-50%,-50%,0);
    -o-transform:translate3d(-50%,-50%,0);
    -ms-transform:translate3d(-50%,-50%,0);
    transform:translate3d(-50%,-50%,0);
    z-index:1;
    opacity:0;
    margin-top:-14px;
    mix-blend-mode:difference;
    -webkit-transition:opacity 0.6s 0.9s,margin-top 0.6s 0.9s;
    -moz-transition:opacity 0.6s 0.9s,margin-top 0.6s 0.9s;
    -ms-transition:opacity 0.6s 0.9s,margin-top 0.6s 0.9s;
    -o-transition:opacity 0.6s 0.9s,margin-top 0.6s 0.9s;
    transition:opacity 0.6s 0.9s,margin-top 0.6s 0.9s
   }
   .pageIndicator.active {
    margin-top:-34px;
    opacity:1
   }
   .pageIndicator .topBar {
    height:0;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    background:#fff
   }
   .pageIndicator .bottomBar {
    height:100%;
    left:0;
    position:absolute;
    top:auto;
    width:100%;
    bottom:0
   }
   .pageIndicator .bottomBar:after {
    content:"";
    height:calc(100% - 0px);
    left:0;
    position:absolute;
    top:auto;
    width:100%;
    bottom:0;
    background:rgba(255,255,255,.2)
   }
   .pageIndicator .bottomBar:before {
    content:"";
    height:2px;
    left:0;
    position:absolute;
    top:8px;
    width:100%;
    border-radius:50%;
    background:#fff
   }

*******************************/



@media only screen and (max-width: 768px) {
    

    .hamburger {
        
        cursor: pointer;
        display: block;
    }


   
    .logo
    {
        display:none;
    }
    .progress-section
    {
        display: none;
    }
    
    .mainimage
    {
        
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        
       
        text-align: center;
    }
    .mobile-social
    {
        display: flex;
        height: 60px;
    }
    .mobilesocial img
    {
        margin: 10px;
    }
    .socialbox
    {
        display: none;
    }
    .footer-content
    {
        display: flex;
        text-align: center;
    }
    .footertext
    {
        padding: 0;
    }
    .nav-list {
    
        height: 100vh;
        position: fixed;
        left: 120%;
        top: 0rem;
        flex-direction: column;
        background-color: black;
        width: 100%;
        background-size: cover;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    ul li
    {
        display: block;
        
    }
    ul a
    {
        
        margin-top: 150px;
        
    }

    /********
    .footer-content
    {
        height: 60px;
        
        
    }
    .footer
    {
        display:flex;
        position: relative;
        
        
    }
    .footertext
    {
        
        font-size: 1rem;

        
        
    }
    .socialtext
    {
        display: none;
        margin-right: 0;
        
    }
    
    ********/
    


}
    /*

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    */


      .person {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .container2 {
        border-radius: 50%;
        height: 512px;
        -webkit-tap-highlight-color: transparent;
        transform: scale(0.48);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
      }
      .container2:after {
        
        content: "";
        height: 300px;
        position: absolute;
        
        width: 100%;
      }
      .container2:hover {
        transform: scale(0.64);
      }
      .container-inner {
        
        height: 400px;
        position: relative;
        transform-origin: 50%;
        
      }
      .circle {
        
        border-radius: 50%;
        cursor: pointer;
        height: 500px;
        width: 500px;
        pointer-events: none;
        position: relative;
       
        margin-left: auto;
        margin-right: -7px;
      }
      
    
      
     
/**************** NAV HOVER EFFECT *****************/

     
      
      
